<aside id="sidebar" class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="/index.html" class="nav-link">
          <i class="bi bi-house-door icon"></i>
          <span class="link-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/pages/cadastro.html" class="nav-link">
          <i class="bi bi-box-seam icon"></i>
          <span class="link-text">Produtos / Estoque</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/pages/perfil.html" class="nav-link">
          <i class="bi bi-person icon"></i>
          <span class="link-text">Perfil</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/pages/login.html" class="nav-link logout">
          <i class="bi bi-box-arrow-right icon"></i>
          <span class="link-text">Sair</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>

<!-- Máscara de fundo para o menu mobile -->
<div id="sidebar-overlay" class="sidebar-overlay"></div>